*{
	margin: 0;
	padding: 0;
}


html {
	min-height: 100%;
	position: relative;
	scroll-behavior: smooth;
	scroll-padding-top: 120px;
}

body {
	font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
	font-size: 14px;
	line-height: 1.8;
	color: #606060;
}



li{
	list-style: none;
}

li a{
	text-decoration: none;
	color: black;
}

.pc-show {
	display: block;
}

.sp-show {
	display: none;
}


h2 {
    color: #288c66;
    font-size: 30px;
    text-align: center;
}


h3.h3-profile {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1rem;
}

h3.work-h3 {
    text-align: center;
    margin: 15px 0 10px;
    font-size: 14px;
    line-height: 1.5;
}

p {
	word-break: break-all;
}

main{
	max-width: 100%;
	margin: 0 auto;
	background-color: none;
}

.sec-mv {
	width: 100%;
	position: relative;
	z-index: 100;
}

.sec-mv img {
	width: 100%;
}

.nav {
    background-color: #f0f6da;
    height: 120px;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    position: -webkit-sticky;
    top: -25px;
    z-index: 50;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    margin-top: 30px;
}

.nav li {
    font-size: 17px;
    color: #606060;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.nav a {
	color: #606060;
}

.sec-body {
    margin-top: 60px;
    padding-bottom: 60px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 5%;
}



.work-wrap {
    display: flex;
    justify-content: space-around;
    margin: 40px 0 0;
}

.work-box {
    margin-right: 20px;
    width: 30%;
}

.work-box > a {
    max-width: 300px;
    overflow: hidden;
    display: block;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.07);
}

.work-img {
    width: 100%;
    height: auto;
    border: 1px solid #efefef;
    transition: transform .6s ease;    
}

.work-img:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.i-triangle {
    margin: 0 auto;
    vertical-align: middle;
    color: #00947a;
    line-height: 1;
    width: 1em;
    height: 1em;
    border: 0.15em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
    cursor: pointer;
}

.i-triangle.open {
    transform: rotate(-45deg);
}

.work-accordion {
	display: none;
	background-color: #bee0ce38;
    padding: 10px 15px;
}

.work-detail-head {
    font-size: 13px;
    display: inline-block;
    border-bottom: 1px dotted;
}

.work-detail-txt {
    font-size: 13px;
    padding: 5px 0;
}

.work-detail-txt a {
    color: #606060;
    text-decoration-line: none;
}

.work-detail-txt a:hover {
	opacity: 0.6;
}

.work-h3 a {
    color: #606060;
    text-decoration: none;
}

.work-h3 a:hover {
	opacity: 0.6;
}


.profile-wrap {
    display: flex;
    justify-content: space-around;
    margin: 40px 0 0;
}

.profile-img {
    width: 40%;
    text-align: center;
}

.profile-txt {
    width: 100%;
    padding-left: 20px;
    text-align: center;
}

.contact-wrap {
    margin: 40px 0 80px;
}

.t-center {
    text-align: center;
}	









footer{
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 30px;
	background-color: #f0f6da;
	opacity: 0.6;
}

.coryright {
	max-width: 980px;
	height: auto;
	margin: 0 auto;
}

footer p {
	font-size: 11px;
	text-align: center;
	margin-top: 10px;
}


/*workページ*/
.work-wrapper {
	max-width: 980px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.work-title, .work-title-p {
	text-align: center;
	color: #696969;
}

.work-title {
	margin-top: 10px;
}

.work-title-p {
	margin-bottom: 20px;
}

.oneset {
	margin: 40px auto;
	width: 700px;
	height: auto;
	background-color: none;
	border-top: 2px dotted #c0c0c0;
}

.screenshot {
	float: left;
	width: 400px;
	height: 240px;
	background-color: none;
}

.description {
	float: right;
	width: 295px;
	min-height: 230px;
	background-color: #bbdbf3;
	padding-bottom: 1em;
}

.description h3 {
	text-align: center;
	line-height: 40px;
	color: #383838;
}

.description p {
	margin: 0 5px;
	color: #696969;
}

.description a {
	color: #383838;
}

.work1 {
	height: 0;
	 /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
	padding-top: 60%;
	background: url("../img/work1.png") 0 0 no-repeat;
	background-size: contain;
}

.work2 {
	height: 0;
	 /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
	padding-top: 60%;
	background: url("../img/work2.png") 0 0 no-repeat;
	background-size: contain;
}

.work3 {
	height: 0;
	 /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
	padding-top: 60%;
	background: url("../img/work3.png") 0 0 no-repeat;
	background-size: contain;
}


/*レスポンシブ対応*/
@media all and (max-width: 767px){
	.pc-show {
		display: none;
	}

	.sp-show {
		display: block;
	}	


	.nav {
		height: 80px;
		margin-top: -30px;
		top: -20px;
	}

	.nav ul {
		margin: 0 5%;
		width: 100%;
		padding-top: 20px;
	}

	.nav li {
		font-size: 15px;
	}

	section:nth-of-type(n+3) {
		margin-top: 0;
	}

	.container {
    	max-width: 100%;
    	margin: 0 5%;
	}

	.work-wrap {
		display: block;
	}

	.work-box {
    	width: 100%;
    	margin-bottom: 20px;
	}

	.profile-wrap {
    	display: block;
    }

    .profile-img {
	    width: 100%;
	    max-width: 250px;
	    margin: 0 auto;
	}

	.profile-txt {
	    width: 100%;
	    padding-left: 0px;
	    margin-top: 20px;
	}	
}



@media all and (max-width: 659px){
	.box {
		width: 150px;
		height: 150px;
	}

	.box h1 {
		line-height: 150px;
	}

	.content {
		width: 510px;
	}

	.detail-box {
		width: 490px;
		height: 210px;
	}
}

@media all and (max-width: 499px){





	.content {
		width: 200px;
		margin: 0 auto;
	}

	.detail-box {
		width: 300px;
		height: 270px;
	}

	.oneset {
		width: 330px;
		height: 470px;
		border-top: none;/* 2px dotted #c0c0c0;*/
	}

	.screenshot {
		float: none;
		width: 330px;
		height: 210px;
		margin-top: 5px;
		border: 1px solid #c0c0c0;
	}

	.description {
		float: none;
		width: 330px;
		height: 240px;
		background-color: #bbdbf3;
		margin-top: 0px;
		border-left: 1px solid #c0c0c0;
		border-right: 1px solid #c0c0c0;
		border-bottom: 1px solid #c0c0c0;
	}
}







/*lightbox追記修正*/
.lightboxOverlay{/*拡大時のモーダル*/
    width:100% !important;
}
.lb-outerContainer,.lb-dataContainer{
    width:calc(100% - 20px) !important;
    max-width:600px;/*拡大時の最大幅*/
}
.lb-outerContainer{
    height:auto !important;
    margin-left:auto;
    margin-right:auto;
}
.lb-image{
    width:100% !important;
    height:auto !important;
}
